h1, h2, h3 {
    font-family: TheNightWatch;
    text-align: center;
}

p {
    font-family: kapelkanew;
}

div {
    background-color: pink;
    padding: 20px;
    width: 683px;
    margin: auto;
    background-image: src="D:\Insp7000\Coding\Practice-Files\Testing My Knowledge\July 26 22\Catch_You_Catch_Me_Dress-forcode.png"
}

.cardcaptor {
    margin: auto;
}